/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* menu start */
    .menu{
   justify-content: space-evenly;
   gap: 120px;
}
.menu-content h3{
    display: none;
}
.menu-btn ul li{
    display: none;
}
.button{
    display: none;
}
.bar{
  
  
}
.bar img{
   
}

    /* menu end */
/* banner start */
.banner{
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
}
.banner-content{
   
}
.banner-content h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 18px;
}
.power{
    
    font-size: 32px;
    font-weight: 700;
}
.toward{
    font-size: 32px;
    font-weight: 700;
}
.banner-content p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
}
.banner-content a{
    padding: 6px 24px;
    font-size: 16px;
    font-weight: 700;
}
.banner-img{
    width: 80%;
}
.banner-img img{
   width: 100%;
}
/* banner end */
/* secton start */
.standard{
    margin-top: 50px;
    margin-bottom: 70px;
}
.standard h2{
    font-size: 32px;
}
.standard-box{
     flex-direction: column; 
    width: 500px;
    margin: auto;
    gap: 17px;
}
.box-1{
    padding: 25px 10px;
}
.box-1 h4{
    font-size: 30px;
    margin-bottom: 18px;
}
.box-1 p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.box-1 a{
    font-size: 18px;
}
.box-2 h4{
    font-size: 30px;
    margin-bottom: 18px;
}
.box-2 p{
     font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.box-2 a{
    font-size: 18px;
}
.box-3 h4{
    font-size: 30px;
    margin-bottom: 18px;
}
.box-3 p{
     font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.box-3 a{
    font-size: 18px;
}
.angle{
    display: none;
}
/* secton end */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* menu start */
.menu{
   justify-content: space-evenly;
   gap: 210px;
}
.menu-content h3{
    display: none;
}
.menu-btn ul li{
    display: none;
}
.button{
    display: none;
}
.bar{
  
  
}
.bar img{
   
}
/* menu end */
/* banner start */
.banner{
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
}
.banner-content{
   
}
.banner-content h1{
    font-size: 38px;
    font-weight: 700;
}
.power{
    
    font-size: 38px;
    font-weight: 700;
}
.toward{
    font-size: 38px;
    font-weight: 700;
}
.banner-content p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22px;
}
.banner-content a{
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 700;
}
.banner-img{
    width: 50%;
}
.banner-img img{
   width: 100%;
}
/* banner end */
/* secton start */
.standard{
    margin-top: 50px;
    margin-bottom: 70px;
}
.standard h2{
    font-size: 35px;
}
.standard-box{
     flex-direction: column; 
    width: 500px;
    margin: auto;
    gap: 17px;
}
.box-1{
    padding: 25px 10px;
}
.box-1 h4{
    font-size: 30px;
    margin-bottom: 18px;
}
.box-1 p{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.box-2 h4{
    font-size: 30px;
    margin-bottom: 18px;
}

.box-2 p{
     font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.box-3 h4{
    font-size: 30px;
    margin-bottom: 18px;
}
.box-3 p{
     font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
.angle{
    display: none;
}
/* secton end */
}

 /* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991.98px) {
    /* menu start */
.menu{
    justify-content: center;
    gap: 315px;
}
.menu-content h3{
   display: none;
}
.menu-btn ul li{
    display: none;
}
.button{
    display: none;
}
.menu-img{
   width: 50%;
   
}
.menu-img img{
   
}
.bar{
  
}
.bar img{
   
}
/* menu end */
/* banner start */
.banner{
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
}
.banner-content{
   
}
.banner-content h1{
    font-size: 45px;
    font-weight: 700;
}
.power{
    
    font-size: 45px;
    font-weight: 700;
}
.toward{
    font-size: 45px;
    font-weight: 700;
}
.banner-content p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 18px;
}
.banner-content a{
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 700;
}
.banner-img{
    width: 50%;
}
.banner-img img{
   width: 100%;
}
/* banner end */
/* secton start */
.standard{
    margin-top: 50px;
    margin-bottom: 70px;
}
.standard h2{
    font-size: 40px;
}
.standard-box{
    width: 700px;
    margin: auto;
    gap: 17px;
}
.box-1 p{
  
    line-height: 25px;
    margin-bottom: 25px;
}
.box-2 p{
  
    line-height: 25px;
    margin-bottom: 25px;
}
.box-3 p{
  
    line-height: 25px;
    margin-bottom: 25px;
}
.angle{
    display: none;
}
/* secton end */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {





}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){
 
}
 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
.bar img{
    display: none;
}
.menu{
    border-bottom: none;
}
}